*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    color: #1f2937;
}


/* TOPO */
.topo {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
}

/* LOGO */
.topo .logo {
    font-weight: 600;
    color: white;
    background-color: rgb(162, 76, 196);
    border-radius: 12px;
    padding: 6px 12px;
    font-size: 14px;
}

/* LINKS */
.topo nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #6b7280;
    font-size: 15px;
    transition: 0.2s;
}

.topo nav a:hover {
    color: rgb(162, 76, 196);
    background-color: #f3f4f6;
    border-radius: 6px;  
    padding: 7px;
}

.topo nav a.ativo {
    background-color: #f3f4f6;
    padding: 6px 12px;
    border-radius: 6px;
    color: rgb(162, 76, 196);
    font-weight: 500;
}

/* LAYOUT */
.layout{
    display: flex;
}


/* SIDEBAR */
.sidebar{
    width: 250px;
    min-height: 100vh;

    background-color: white;

    border-right: 1px solid #d1d5db;
}


/* PERFIL */
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 20px;

    border-bottom: 1px solid #d1d5db;
}

.foto {
    width: 90px;
    height: 90px;

    border-radius: 50%;
    margin-top: auto 15px;
    background-color: #e5e7eb;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;

    color: #111827;

    margin-bottom: 15px;
}


/* MENU */
.menu{
    padding: 25px 20px;
}

.menu-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

    font-size: 18px;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    margin-bottom: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: #374151;

    font-size: 17px;
}

.ativoMenu{
    color: rgb(162, 76, 196) !important;
    background: #ecebff;
    font-weight: 500;
    border-radius: 6px;
    padding: 6px 10px;
}

.menu ul li a:hover{
    color: rgb(162, 76, 196);
    background: #ecebff;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* MAIN */
main{
    flex: 1;

    padding: 0 40px 40px 40px;
}


/* BANNER */
.banner{
    height: 220px;

    background-color: #8b5cf6;

    border-radius: 0 0 20px 20px;

    position: relative;

    margin-bottom: 80px;
}


/* FOTO PERFIL */
.fotoperfil{
    width: 140px;
    height: 140px;

    border-radius: 50%;

    background-color: #5b648c;

    position: absolute;

    right: 40px;
    bottom: -60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 60px;

    color: white;

    border: 5px solid white;
}


/* PERFIL INFO */
.perfilinfo{
    margin-bottom: 35px;
}

.textousu p{
    color: #6b7280;
    margin-top: 10px;
}


/* INPUT NOME */
.inputNome{
    width: 400px;

    border: none;

    background: transparent;

    font-size: 42px;
    font-weight: bold;

    color: #1f2937;

    outline: none;
}


/* BLOCOS */
.bloco{
    margin-bottom: 30px;
}

.bloco h3{
    margin-bottom: 12px;

    font-size: 24px;

    color: #1f2937;
}


/* TEXTAREA */
textarea{
    width: 100%;

    min-height: 170px;

    padding: 18px;

    border-radius: 16px;

    border: 1px solid #d1d5db;

    background-color: white;

    resize: vertical;

    font-size: 16px;

    outline: none;
}

textarea:focus{
    border-color: #8b5cf6;
}


/* INPUT TEXT */
input[type="text"]{
    width: 100%;

    padding: 15px;

    border-radius: 14px;

    border: 1px solid #d1d5db;

    font-size: 16px;

    outline: none;
}

input[type="text"]:focus{
    border-color: #8b5cf6;
}


/* INPUT FILE */
input[type="file"]{
    background-color: white;

    padding: 12px;

    border-radius: 12px;

    border: 1px solid #d1d5db;
}


/* BLOCO UPLOAD */
.blocoUpload{
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.blocoUpload label{
    font-weight: bold;

    color: #374151;
}


/* BOTÃO */
#btnSalvar{
    background-color: #8b5cf6;
    color: white;

    border: none;

    padding: 16px 30px;

    border-radius: 14px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

#btnSalvar:hover{
    background-color: #7c3aed;
}